.custom-padding {
    padding-left: 100px; /* Левый отступ */
    padding-right: 100px; /* Правый отступ */
}

@media (min-width: 768px) {
    .custom-padding {
        padding-left: 60px;
        padding-right: 60px;
    }
}
p {
    font-size: 20px;
}

.btn-custom {
    background-color: #FD7C58 !important; /* Желтый цвет */
    border-color: #FD7C58 !important; /* Желтый цвет также для границы */
    color: #fff !important; /* Белый текст на желтом фоне */
    height: 60px; /* Высота кнопки */
    width: 300px;
    border-radius: 15px !important;;
}

.btn-custom:hover {
    background-color: #FFA87D !important; /* Цвет при наведении */
    border-color: #FFA87D !important; /* Цвет границы при наведении */
}

tr:hover{
    background-color: #E6F2FF !important; /* Цвет при наведении */
}

.btn-custom2 {
    background-color: white !important; /* Белый цвет */
    border: 2px solid #FD7C58 !important; /* Желтая граница */
    color: black !important; /* Черный текст */
    height: 60px; /* Высота кнопки */
    width: 300px; /* Ширина кнопки */
    border-radius: 15px !important;
    text-align: center;
}

.btn-custom2:hover {
    background-color: #FFA87D !important; /* Цвет фона при наведении */
    border-color: #FFA87D !important; /* Цвет границы при наведении */
    color: black !important; /* Цвет текста при наведении */
}

.custom-size {
    font-size: 40px; /* Увеличение размера текста */
    padding: 24px 40px; /* Увеличение внутренних отступов для увеличения размера кнопки */
}

.table-no-border tr > :first-child,
.table-no-border tr > :last-child,
.table-no-border > :first-child > th,
.table-no-border > :last-child > th {
    border: none;
}
.rectangle table td {
    padding: 30px 15px; /* Увеличиваем внутренний отступ сверху и снизу */
    text-align: center; /* Центрирование текста в ячейках */
}

.rectangle {
    padding: 30px; /* Отступ внутри прямоугольника */
    overflow: hidden; /* Убираем прокрутку, если контент не помещается */
    border-radius: 40px; /* Закругление краев */
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Горизонтальное смещение, вертикальное смещение, размытие, цвет */
}

.rectangle2 {
    overflow: hidden; /* Убираем прокрутку, если контент не помещается */
    border-radius: 30px; /* Закругление краев */
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 10px
    /* Горизонтальное смещение, вертикальное смещение, размытие, цвет */
}

.rectangle2 div {
    position: relative;
}

.rectangle2 img {
    max-width: 100%;
    height: auto;
    margin: 0; /* Убираем отступы */
}

.rectangle2 p {
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 13px;
    color: #646363;
    margin: 10px;/* Центрирование текста по горизонтали */
}

.rectangle3 {
    overflow: hidden; /* Убираем прокрутку, если контент не помещается */
    border-radius: 30px; /* Закругление краев */
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    /* Горизонтальное смещение, вертикальное смещение, размытие, цвет */
}

.rectangle3 div {
    position: relative;
}
.rectangle3 .first-img {
    width: 100%; /* Ширина изображения равна ширине блока */
    height: 100%;
    margin: 0;
    object-fit: cover;/* Убираем отступы */
}

/* Стили для второго изображения в блоке .rectangle3 */
.rectangle3 .second-img {
    max-width: 100%; /* Изображение будет занимать максимально возможную ширину блока */
    height: auto; /* Автоматический расчет высоты изображения для сохранения пропорций */
    margin: 0;
}

.rectangle3 p {
    font-size: 13px;
    color: #646363;

}

.subheader-container {
    display: flex;
    justify-content: space-between;
}

.subheader {
    font-weight: normal;
}

.img-container {
    width: 50%;
    overflow: hidden;
}

.carousel-indicators {
    bottom: -40px; /* Положение кнопок относительно нижнего края карусели */
}

.carousel-indicators button {
    width: 10px; /* Ширина кнопок */
    height: 10px; /* Высота кнопок */
    border-radius: 50%; /* Скругление углов для создания круглых кнопок */
    background-color: blue; /* Цвет кнопок */
    margin: 0 5px; /* Отступ между кнопками */
}

.carousel-indicators button.active {
    background-color: red; /* Цвет активной кнопки */
}

.main-paragraph {
    margin-top: 200px;
}

.max-width-image {
    max-width: 100%;
}


/* Стили для описания компании */
.company-title {
    color: #4170B7;
    font-size: 2em; /* Начальный размер заголовка компании */
}

.company-description {
    font-size: 1.2em; /* Начальный размер описания компании */
}
/* Для адаптации размера текста в зависимости от ширины экрана */
@media (max-width: 1400px) {
    .company-title {
        font-size: 1.8em; /* Уменьшенный размер заголовка для экранов шириной до 1200px */
    }

    .company-description {
        font-size: 1em; /* Уменьшенный размер описания для экранов шириной до 1200px */
    }
}

@media (max-width: 992px) {
    .company-title {
        font-size: 1.6em; /* Уменьшенный размер заголовка для экранов шириной до 992px */
    }

    .company-description {
        font-size: 0.8em; /* Уменьшенный размер описания для экранов шириной до 992px */
    }
}

.official-website-link {
    color: #FD7C58;
    font-size: 15px;
}

.tariffs-container {
    background: url('../img/kub.png') top no-repeat;
    text-align: center;
    font-size: 14px;
}

.tariffs-title {
    color: white;
    margin-top: 100px;
}

.tariffs-table-container {
    margin-top: 100px;
    overflow-x: auto;
}

.tariffs-title {
    color: white;
    margin-top: 100px;
    font-size: 2em; /* Начальный размер заголовка таблицы */
}

.tariffs-table-container table {
    font-size: 1em; /* Начальный размер текста в таблице */
}

/* Для адаптации размера заголовка таблицы в зависимости от размера экрана */
@media (max-width: 992px) {
    .tariffs-title {
        font-size: 1.5em; /* Уменьшенный размер заголовка для экранов шириной до 992px */
    }
}

/* Для адаптации размера текста в таблице в зависимости от размера экрана */
@media (max-width: 768px) {
    .tariffs-table-container table {
        font-size: 0.8em; /* Уменьшенный размер текста в таблице для экранов шириной до 768px */
    }
}

.tariff-document-link {
    color: #02409F;
}

.second-section-background {
    background: url('../img/kub2.png') bottom no-repeat;
}


.third-section-background {
    background: url('../img/kub2.png') top no-repeat;
}

/* Устанавливаем размеры шрифтов для заголовка и текста */
.third-section-background h1 {
    font-size: 2em; /* Размер заголовка */
}

.third-section-background h5 {
    font-size: 1.5em; /* Размер подзаголовка */
}

.third-section-background h7 {
    font-size: 1em; /* Размер основного текста */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 1200px) {
    /* Для экранов шириной до 1200px */
    .third-section-background h1 {
        font-size: 2.5em; /* Уменьшаем размер заголовка */
    }

    .third-section-background h5 {
        font-size: 1.8em; /* Уменьшаем размер подзаголовка */
    }

    .third-section-background h7 {
        font-size: 0.8em; /* Уменьшаем размер основного текста */
    }
}

@media (max-width: 992px) {
    /* Для экранов шириной до 992px */
    .third-section-background h1 {
        font-size: 2em; /* Уменьшаем размер заголовка */
    }

    .third-section-background h5 {
        font-size: 1.6em; /* Уменьшаем размер подзаголовка */
    }

    .third-section-background h7 {
        font-size: 0.7em; /* Уменьшаем размер основного текста */
    }
}

@media (max-width: 768px) {
    /* Для экранов шириной до 768px */
    .third-section-background h1 {
        font-size: 1.8em; /* Уменьшаем размер заголовка */
    }

    .third-section-background h5 {
        font-size: 1.4em; /* Уменьшаем размер подзаголовка */
    }

    .third-section-background h7 {
        font-size: 0.6em; /* Уменьшаем размер основного текста */
    }
}

.company-email {
    color: #FD7C58;
}

.views{
    color: #5d5d5d;
    font-style: italic;
}

.views2{
    color: #5d5d5d;
}

.rec2 {
    padding: 30px; /* Отступ внутри прямоугольника */
}

.textnews{
    font-size: 16px;
}

.fullnewsmar{
    text-align: center;
    margin-top: 100px
}

.fulltext{
    color: white;
    text-align: center;
}

.lkinp{
    margin: 10px
}

.mdtext{
    width: 100%;
    color: #4170B7;
}

.mdspan{
    color: #FD7C58;
    font-size: 24px;
    cursor: pointer;
}

.mdhref{
    text-align: left;
}

.in1{
    color: #4B69C6;
    text-align: center;
    font-size: 1.1em;
    margin-top: 15px;
}

.in2{
    color: #866FA1;
    text-align: center;
    font-size: 1.1em;
    margin-top: 15px;
}

.in3{
    color: #C2767D;
    text-align: center;
    font-size: 1.1em;
    margin-top: 15px;
}


.lkinp2{
    margin-top: 10px
}

.textcont{
    padding-left: 10px;
}

.bodyimg{
    position: relative;
    background: url('../img/gl.png') top right no-repeat;
    background-size: 50%;
}

